# Token của Bot Telegram (Lấy từ @BotFather)
TELEGRAM_BOT_TOKEN=8899263192:AAHpTE2N-rX323dZ2deAI8yHmnHJuvp9uQA


TELEGRAM_CHAT_ID=5080522430

# Optional reminder window in days
UTILITY_REMINDER_WINDOW_DAYS=2

DEFAULT_BANK_INFO=TCB-2203889999
DEFAULT_MERCHANT_NAME= LUU QUANG DUNG
